input#fname,
input#lname,
input#email,
input#mobile,
#optionselecter {
    padding: 10px;
    border: 1px solid black;
}

input#fname:focus-visible,
input#lname:focus-visible,
input#email:focus-visible,
input#mobile:focus-visible,
.optionselecter:focus-visible {
    outline: none;
}



.optionselecter_wrap.row.gy-3 {
    min-width: 230px;
}

.container_wrap {
    padding: 10px 0px 10px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.check {
    color: aqua;
}

.login {
    margin: 0px 20px 5px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.yes,
.no {
    width: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.alerto {
    color: rgb(133, 1, 1);
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.optionselecter {
    margin-left: 15px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sbtn:disabled {
    align-items:center ;
    padding: 0px 20px;
    display: flex;
    border-radius: 10px;
    border: 1px solid;
    outline: none;    color: black;
    background-color:beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sbtn {
    align-items:center ;
    padding: 0px 20px;
    display: flex;
    color: #fff;
    margin:auto ;
    border-radius: 10px;
    border: 1px solid;
    outline: none;
    background-color:red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.radioyes {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.optionselecter_wrap {
    width: 210px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.radiowrap {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

