.mainwrap{
	background: hsl(218deg 50% 91%);}

input#fname,
input#lname,
input#email,
input#mobile,
#optionselecter {
    border-radius: 10px;

    padding: 10px;
    border: 1px solid black;
}

input#fname:focus-visible,
input#lname:focus-visible,
input#email:focus-visible,
input#mobile:focus-visible,
.optionselecter:focus-visible {
    outline: none;
}
.progresswrap{
margin: 20px 0px; 

}
.prog{
    margin: 0px 500px;
}

.meter
{   display:inline-block;
    background:peru;
    color:green;
    width:0;
    height:20px;
}


.optionselecter_wrap.row.gy-3 {
    min-width: 230px;
}

.container_wrap {
    padding: 10px 0px 10px 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.check {
    color: aqua;
}

.login {
    margin: 0px 20px 5px;
	color: hsl(233deg 36% 38%);
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.yes,
.no {
    width: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.alerto {
    color: rgb(133, 1, 1);
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.optionselecter {
    margin-left: 15px;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sbtn:disabled {
    padding: 1em;
    background-color:aliceblue;
    color:rgb(56, 52, 52);
    border: none;
    border-radius: 30px;
    font-weight: 600;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sbtn {
    padding: 1em;
    background: hsl(233deg 36% 38%);
    color:#fff;
    border: none;
    margin: 0px 500px;
    border-radius: 30px;
    font-weight: 600;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.radioyes {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.optionselecter_wrap {
    width: 210px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.radiowrap {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

